body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.content {
    min-height: calc(100vh - 70px - 62px);
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
}

.preloader-elem {
    margin: 100px 50%;
}

.wrap-search {
    display: flex;
}

.form-elem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    /* margin-top: -30px; */
}
